<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <a href="{{ path('home') }}" class="my-0 mr-md-auto font-weight-normal h5 nav-link p-0">
        Employee Management
    </a>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="{{ path('employee_index') }}">Employees</a>
        <a class="p-2 text-dark" href="{{ path('skill_index') }}">Skills</a>
        <a class="p-2 text-dark" href="{{ path('payment_index') }}">Payments</a>
    </nav>
</div>
