// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

html, body{
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.content{
  
  flex-grow: 1;
}

.yellow-star {
  color: #ffca08;
}

.list-icon {
  font-size: 1.3em;
  margin: 0 2px;
}

.bold {
  font-weight: bold;
}

.collection-item {
  padding-left: 20px;
}

.collection-wrapper {
  background-color: whitesmoke;
}

.align-content-bottom {
  float: none;
  display: table-cell;
  vertical-align: bottom;
}

.lead{
  font-style: italic;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  .first, .previous, .page, .next, .last {
    a {
      font-weight: bold;
      font-size: 15px;
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      border: 1px solid black;
      border-radius: 3px;
      }
      a:hover {
        background-color: lightgray;
      }
  }
  .current {
    background-color: darkgrey;
    font-weight: bold;
    font-size: 15px;
    color: black;
    float: left;
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 3px;
  }
}