{% extends 'base.html.twig' %}

{% form_theme form 'employee/form/fields.html.twig' %}

{% block title %}New Employee{% endblock %}

{% block body %}
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Create new Employee</h1>
        <p class="lead">You can create your new employee here.</p>
    </div>

    <div class="container pb-3">
        {{ include('employee/form/form.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {# assets/js/pages/employee/form.js #}
    {{ encore_entry_script_tags('employee_form') }}
{% endblock %}
